html{
    -webkit-text-size-adjust:100%;
}

*{
    margin:0;
    padding:1px;
    box-sizing:border-box;
}

body{

    background:
    linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    color:white;

    font-family:sans-serif;

    overflow-x:hidden;

    min-height:100vh;

    padding:20px 14px;

    display:flex;
    justify-content:center;
}

/* CONTAINER */
.container{

    width:70%;

    max-width:360px;

    background:
    rgba(255,255,255,0.08);

    border-radius:40px;

    padding:50px 3px;

    text-align:center;

    position:relative;

    z-index:2;

    border:
    1px solid rgba(255,255,255,0.08);

    box-shadow:
    0 0 25px rgba(0,0,0,0.25);
}

/* TITULO */
h1{

    font-family:
    'Great Vibes', cursive;

    font-size:2.3rem;

    color:#93c5fd;

    margin-bottom:18px;

    line-height:1.2;

    font-weight:normal;
}

/* TEXTO */
p{

    font-family:
    'Cormorant Garamond', serif;

    font: size 1px;

    line: height 1.5em;;

    color:#f8fafc;
}

/* BOTÃO */
button{

    width:100%;

    margin-top:24px;

    padding:14px;

    border:none;

    border-radius:40px;

    background:#3b82f6;

    color:white;

    font-family:
    'Dancing Script', cursive;

    font-size:1.2rem;

    cursor:pointer;
}

/* ASSINATURA */
.assinatura{

    margin-top:24px;

    font-family:
    'Dancing Script', cursive;

    font-size:1.3rem;

    color:#cbd5e1;

    opacity:0;

    transition:1s;
}

/* CORAÇÕES */
.heart{

    position:fixed;

    bottom:-20px;

    pointer-events:none;

    animation:
    subir linear forwards;

    z-index:1;
}

/* ANIMAÇÃO */
@keyframes subir{

    from{
        transform:
        translateY(0)
        scale(0.5);

        opacity:0;
    }

    to{
        transform:
        translateY(-120vh)
        scale(1.2);

        opacity:1;
    }
}
